body ,html{
    padding:0 0 0 0;
    margin:0 0 0 0;
}

.main {
    height: 60vh;
    border: 1px solid red;
    width: 140vh;
    margin:5vh auto 0 auto;
}

.word {
    margin: 20px;
    font-size: 35px;
    border: 1px solid green;
    display: inline-block;
    text-align: center;
    padding: 0px 10px 0px 10px;
    background-color: rgba(0,255,0,0.1);
}
.active {
    border: 1px solid red;
    background-color: rgba(255,0,0,0.1);
}

.word p{
    display:inline-block;
    height:10px;
    margin-top:5px;
}

.num {
    display: inline-block;
    position:relative;
    bottom:10px;
    right:5px;
    width: 3vh;
    height: 3vh;
    border: 1px solid red;
    border-radius: 50%;
    line-height: 3vh;
    font-size: 2vh;
    text-align: center;
}

.cnt {
    display: inline-block;
    position: relative;
    left:5px;
    width: 3vh;
    height: 3vh;
    border: 1px solid green;
    border-radius: 50%;
    line-height: 3vh;
    font-size: 2vh;
    text-align: center;
}

input[name="value"] {
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 30px;
    margin:0 auto 0 auto;
}

input[name="translate"] {
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 30px;
}

#count {
    position:relative;
    top:50px;
    display: block;
    font-size: 30px;
    color: green;
    text-align: center;
}

form[name="check"]{
    text-align:center;
}